* {
    font-family: sans-serif;
}


form {
    width: 600px;
    padding: 2rem;
    border: 1px solid #ddd;
    margin: 2% auto;
}

label {
    margin-top: 8px;
    display: block;
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: large;
}

.url {
    margin-top: 15px;
}

input {
    font-weight: 400;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;

}

button {
    width: 95%;
    background-color: dodgerblue;
    color: #fff;
    font-size: large;
    border: #000;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 8px;
}

h2 {
    margin-top: 100px;
    text-align: center;
    color: #000;
    font-size: 24px;
}